button:hover {
    transform: scale(1.05);
}

h2 {
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.main-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    flex: 1;
    padding: 20px;
    height: auto;
}

.container-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-headline p {
    background-color: rgb(187, 196, 207);
    padding: 3px 12px;
    border-radius: 4px;
    color: white;

}

.form_input {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.form_input input {
    width: 290px;
    border: 1px solid rgb(187, 196, 207);
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(44, 86, 251);
    box-shadow: none;
    margin-bottom: 20px;
}

.btn-add {
    background-color: rgb(239, 239, 239);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 4px;
    cursor: pointer;
    color: black;
}

.todo-item {
    display: flex;
    flex-direction: row;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin: 15px 0px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    padding-left: 15px;
    cursor: pointer;
}

.add-icon {
    font-size: 20px;
}

.todo-item:hover {
    box-shadow: 2px 2px 10px 2px rgb(189, 189, 199);
    transform: scale(1.025);
}

/* NOTES */
.notes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.notes-container form {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    margin-right: 50px;
}

.notes_field {
    margin-top: 2px;
    height: 250px;
    width: 550px;
    resize: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(187, 196, 207);
    border-radius: 5px;
    padding: 10px;
}

.btn-notes {
    font-size: 16px;
    padding: 5px 0px;
    width: 100px;
    justify-self: stretch;
    background-color: white;
    border: 1px solid rgb(187, 196, 207);
    border-radius: 5px;
    cursor: pointer;
}

.notes-display {
    background-color: rgb(187, 196, 207);
    border-radius: 5px;
    min-height: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.note-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

.note-item:first-child {
    margin-top: 10px;
}

.note-item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px rgb(104, 104, 109);
    transform: scale(1.025);
}