body {
  background: rgb(247, 247, 247);
  width: 1200px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(187, 196, 207);
  width: 100%;
  box-shadow: none;
  margin-bottom: 20px;
}

.todo-container {
  flex: 1;
}